@model CvItemModel

@{
    ViewBag.Title = $"Edit {Model.Name} CV";
    Layout = "_Layout";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <div class="mb-3">
        @Html.LabelFor(n => n.Name, "Name")
        @Html.TextBoxFor(n=> n.Name, new { @class ="form-control"})
    </div>
        <div class="mb-3">
            @Html.LabelFor(n => n.Email, "E-mail")
            @Html.TextBoxFor(n=> n.Email, new { @class ="form-control"})
            </div>
           <button type="submit" class="btn btn-primary">Update</button>
}
