@model IEnumerable<CvMaker.Web.Models.CvItemModel>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div style="text-align:center">
<table class="table table-striped">
    <thead>
        <tr>
            <th>
              Id  
            </th>
            <th>
                Name
            </th>
            <th>
                Lastname
            </th>
            <th>
                Phone number
            </th>
            <th>
                E-mail
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var cv in Model) {
        <tr>
            <td>
                @cv.Id
            </td>
            <td>
                @if (cv.OtherName != null)
                {@Html.Raw(cv.Name + " " + cv.OtherName)}
                else
                {@Html.Raw(cv.Name)}
            </td>
            <td>
                @cv.LastName
            </td>
            <td>
                @cv.PhoneNumber
            </td>
            <td>
                @cv.Email
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @* @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) | *@
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
</div>